@import "tailwindcss";

@font-face {
  font-family:F2 ;
  src: url('/fonts/new/Cormorant-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family:F1 ;
  src: url('/fonts/new/Cormorant-VariableFont_wght.ttf');
}

.F1{
  font-family:F1 ;
}
.F2{
  font-family:F2 ;
}
/* --------------------------------------------------------------- */
@font-face {
  font-family:Font_Header;
  src: url('/fonts/WindSong-Regular.ttf');
}
@font-face {
  font-family:Font_Secondary;
  src: url('/fonts/LightRock.otf');
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  transition: all;
  
}
html {
  scroll-behavior: smooth;
}

.BG_Primary{
  background-color: white
}
.BG_Secondary{
  background-color: #E5E1D0
}
.BG_Se{
  background-color: #686e46;
}

.Text_Primary_Color_White{
  color: white
}
.Text_Color{
  color: #686e46;
}

.Font_Header{
  font-family:Font_Header;
}

.Font_Secondary{
  /* font-family:Font_Secondary; */
  font-family: sans-serif;
}

.text-outline {
  -webkit-text-stroke: 0.2px #31351f;

  /* color: transparent; */
}


.wedding-subtitle {
  font-size: 1rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.wedding-title {
  font-size: 4vw;
  line-height: 0.95;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


@media (max-width: 640px) {
  .wedding-title {
    font-size: 3rem;
    line-height: 0.95;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}


